<nav class="nav navbar-expand">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Student-Database</a>
        </div>
        <br>
        <hr>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li><a routerLink="/home" >Home </a></li>
                <li><a routerLink ="/view">View Student </a></li>
                <li><a routerLink ="/add">Add Student </a></li>
                <li><a routerLink ="/delete">Delete Student </a></li>
                <li><a routerLink ="/update">Update Student </a></li>
            </ul>
        </div>
    </div>
</nav>
