<nav class="nav navbar-expand bg-warning">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Student-Database</a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li><a href ="#">Home </a></li>
                <li><a href ="#">View Student </a></li>
                <li><a href ="#">Add Student </a></li>
                <li><a href ="#">Delete Student </a></li>
                <li><a href ="#">Update Student </a></li>
            </ul>
        </div>
    </div>
</nav>
